<section class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box">
                    <h3 class="text-center text-primary mb-4">Forget Password</h3>
                    <form class="login-form" [formGroup]="myFormGroup" (ngSubmit)="forgetPassword()">
                        <div class="row">
                            <div class="col-md-12 email">
                                <label>Email Address / Phone Number</label>
                                <input type="text" name="email" formControlName="email" placeholder="Voer your Email Address / Phone Number">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" name="button">Volgende</button>
                            </div>
                            <div class="login-btm text-center">
                                <p>Having Account? <a class="text-primary" routerLink="/login">Inloggen</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
