<div class="jezel-inner-page-banner-area">
    <h1>Algemene voorwaarden</h1>
    <img src="assets/images/certificate.jpg"> 
</div>

<!-- =======================Banner innerpage -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 align-self-center mt-lg-0 mt-3">
                <div class="about-content">
                    <div class="desc">
                        <div [innerHtml]="termsAndConditions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>