.btn-grad {
  background-color: #ed1c24;
  font-size: 15px;
  color: #fff;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.jezselcart-rtb {
  background: #FFE3E3 !important;
}

.jezsel-profile-section table {
  text-align: left !important;
}

.terms-content {
  height: 400px;
  overflow: auto;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #dc3545 !important;
  background-image: none !important;
}