<section class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box">
                    <h3 class="text-center text-primary mb-4">Set Password</h3>
                    <form class="login-form" [formGroup]="myFormGroup" (ngSubmit)="save()">
                        <div class="row">

                            <div class="col-md-12 password">
                                <label>Password</label>
                                <input type="password" name="email" formControlName="password" placeholder="Enter password">
                            </div>
                            <div class="col-md-12 password">
                                <label>Confirm Password</label>
                                <input type="password" name="email" formControlName="confirmpassword" placeholder="Enter confirm password">
                            </div>

                            <div class="col-md-12">
                                <button type="submit" name="button">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>