<!-- =======================
	Banner innerpage -->
<div class="innerpage-banner left bg-overlay-dark-7 py-7 drop-slider"
    style="background:url(assets/images/about.jpg) repeat; background-size:cover;">
    <div class="container">
        <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
                <h1 class="innerpage-title">Locations</h1>
            </div>
        </div>
    </div>
</div>
<!-- =======================Banner innerpage -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 align-self-center">
                <div class="about-content">
                    <div class="desc" [innerHtml]="content">
                    </div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 

                </div>
            </div>

            <div class="col-lg-6">
                <div class="portfolio-card isotope-item digital" *ngFor="let iframe of iframes">
                    <div class="portfolio-card-body">
                        <iframe width="100%" height="450" allowfullscreen="" loading="lazy" style="border: 0;" [src]="iframe | safe"></iframe>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
