<!-- =======================
	Banner innerpage 
<div class="innerpage-banner left bg-overlay-dark-7 py-7 drop-slider"
    style="background:url(assets/images/about.jpg) repeat; background-size:cover;">
    <div class="container">
        <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
                <h1 class="innerpage-title">GARANTIES EN CERTIFICATEN</h1>
            </div>
        </div>
    </div>
</div>-->

<div class="jezel-inner-page-banner-area">
    <h1>GARANTIES EN CERTIFICATEN</h1>
    <img src="assets/images/certificate.jpg"> 
</div>

<!-- =======================Banner innerpage -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 align-self-center mt-lg-0 mt-3">
                <div class="about-content">
                    <div class="desc">
                        <h3>{{title}}</h3>
                        <div [innerHtml]="content">

                        </div>
                        <!-- <p>
                            Ons uitzendbureau Job Jezsel is aangesloten bij de Nederlandse Bond van Bemiddelings- en Uitzendondernemingen (NBBU) en gecertificeerd volgens NEN SNA (Stichting
                            Normering Arbeid). Dit geeft u de garantie dat wij werken volgens de
                            Nederlandse CAO en voldoen aan de actuele wet- en regelgeving op het gebied
                            van salariëring, rij- en rusttijden, arbeidsomstandigheden, fiscale verplichtingen,
                            enz. Alles is geregeld zoals het hoort.
                        </p>
                        <p>www.nbbu.nl</p>
                        <p>www.normeringarbeid.nl</p> -->
                    </div>

                    <div class="jezel-certificate-logo-g">

                        <img src="assets/images/certificate-logo/c1.png">
                        <img src="assets/images/certificate-logo/c2.png">
                        <img src="assets/images/certificate-logo/c3.png">
                        <img src="assets/images/certificate-logo/c4.png">

                    </div>
                    <!-- certificate logo end here -->


                </div>
            </div>
        </div>
    </div>
</div>