<!-- ======================= Banner innerpage -->
<div class="innerpage-banner left bg-overlay-dark-7 py-7" >
    <div class="container">
        <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
                <h1 class="innerpage-title title">Change Password</h1>
            </div>
        </div>
    </div>
</div>
<!-- ======================= Banner innerpage -->


<!-- =======================
	Form -->
    <section class="pt80 pb80 eleform">
        <div class="container">
            <form [formGroup]="formGroup" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Voer Password" formControlName="password">
                            <i class="fa fa-info-circle" title="
A password should be alphanumeric.
First letter of the password should be capital.
Password must contain a special character (@, $, !, &, etc).
Password length must be greater than 8 characters."></i>
                        </div>    
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Voer Confirm Password" formControlName="confirmpassword">
                            <p class="text-danger" *ngIf="formControls.password.value!=formControls.confirmpassword.value">Password and Confirm password does not match</p>
                        </div>    
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-grad" type="submit" [disabled]="formGroup.invalid||(formControls.password.value!=formControls.confirmpassword.value)">Update Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <!-- =======================
        Form -->

