.TravelGo-category-content-title span {
    text-align: left;
    color: #ed1c24;
    margin: 0;
}

.TravelGo-category-content-title {
    padding-bottom: 0;
}

.TravelGo-category-list-img {
    border-radius: 0;
    left: 0px;
    top: 0px;
    /*padding: 10px;*/ 
}

.title-sin_map .TravelGo-js-booking {
    position: absolute;
    right: 0;
}

.padding-left {
    padding-left: 5px;
}
.schedule h5 a{
    margin-left: 5px;
}
.schedule h5{
    font-size: 13px;
}
.mal-5{
    margin-left: 12px;
}
.schedule h5 i{
    color: #ed1c24;
}
.summary h4{
    font-weight: 700;
    margin-bottom: 15px;;
    font-size: 14px;
}
.cancel-options{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted #ccc;
    padding-top: 10px;
    font-weight: bold;
}
.w-80{
    width: 80%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-10{
    width: 10%;
}


.summary table td{ font-size: 12px;}
.jezsel-cart-txt-right{ text-align: right; font-weight: bold; white-space: no-wrap;}
.jezsel-cart-text-b{font-weight: bold;}
 h4.jezsel-cart-advance-payment{ margin-top: 20px; margin-bottom: 0px !important;}
.jezsel-cart-pr-btn{ background-color: #05ac1c;}
.jezsel-cart-pr-btn:hover{ background-color: #037313;}
.jezselcart-rtb {    background: #FFE3E3 !important;}
a.jezsel-cart-service-trash{ 
    position: absolute;
    top: -20px;
    right: -10px; 
    color: #ff0000;
}
.jezsel-cart-lfdtd{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
}
.jezsel-cart-lfdtd img{ width: 15px; height: auto;}  

@media screen and (max-width: 480px) {

    .jezsel-cart-lfdtd{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        text-align: center;
        row-gap: 25px;
    }

}