<!-- =======================
	Banner innerpage -->
<div class="innerpage-banner left bg-overlay-dark-7 py-7 drop-slider"
    style="background:url(assets/images/about.jpg) repeat; background-size:cover;">
    <div class="container">
        <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
                <h1 class="innerpage-title">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- =======================Banner innerpage -->
<div class="section section-padding"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 align-self-center mt-lg-0 mt-3">
                <div class="about-content">
                    <div class="desc" [innerHtml]="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>