<!-- =======================
	footer  -->
<footer class="footer position-relative jezl-footer-tl">
  <div class="container">
  <div class="jezl-footer-g">
    <div class="clm">
      <img src="assets/images/footer-logo.png" class="footer-logo">
      <ul class="jezl-footer-contact">

        <li><img src="assets/images/icon/call-icon.png"> 123456789</li>
        <li><img src="assets/images/icon/envelop-icon.png"> support@jezsel.nl</li>
        <li><img src="assets/images/icon/footer-location.png"> xyz street, 41 abc road.</li>

      </ul>
    </div>
    <!-- clm end here -->

    <div class="clm">
      <div class="ft-title">Quick Links:</div>
      <ul class="jezl-footer-contact">

        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">About Us</a></li>

      </ul>
    </div>
    <!-- clm end here -->
    
    <div class="clm">
      <div class="ft-title">Quick Links:</div>
      <ul class="jezl-footer-contact">

        <li><a href="#">FAQ</a></li>
        <li><a href="#">Certificates</a></li>
        <li><a href="#">Contact</a></li>

      </ul>
    </div>
    <!-- clm end here -->     
    
    
    <div class="clm jezl-subscribe">
      <div class="ft-title">SUBSCRIBE:</div>
         <div class="jezl-subscribe-frm-g">
            <input type="text" placeholder="YOUR MAIL">
            <button><img src="assets/images/icon/arrow-left.png"></button>
            <p class="jezl-flo-text">Follow our newsletter to stay updated about agency.</p>
          </div> 
          <div class="jezl-ftr-social-icons">
          <ul>

            <li><a href="#"><i class="fab fa-facebook-f" ></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>

          </ul>
        </div> 

    </div>
    <!-- clm end here -->     

  </div>
  <!-- g end here -->
  </div>



  <div class="footer-copyright">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left"> 
        <div class="copyright-text">Copyright ©2022 Jezsel. All Rights Reserved</div>        
      </div>
    </div>
  </div>
</footer>
<!-- =======================
	footer  --> 