<section class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box">
                    <h3 class="text-center text-primary mb-4">Registreer uw account</h3>
                    <form class="login-form" [formGroup]="myFormGroup" (ngSubmit)="register()">
                        <div class="row">
                            <div class="col-md-6 email">
                                <label>Voornaam</label>
                                <input type="text" name="firstname" formControlName="firstname"
                                    placeholder="Voer uw voornaam in">
                            </div>
                            <div class="col-md-6 password">
                                <label>Tussenvoegsel</label>
                                <input type="text" name="insertion" formControlName="insertion"
                                    placeholder="Voer uw tussenvoegsel in">
                            </div>
                            <div class="col-md-6 password">
                                <label>Achternaam</label>
                                <input type="text" name="lastname" formControlName="lastname"
                                    placeholder="Voer uw achternaam in">
                            </div>
                            <div class="col-md-6 password">
                                <label>E-mail</label>
                                <input type="text" name="email" formControlName="email" placeholder="Voer uw e-mailadres in">
                            </div>
                            <div class="col-md-6 password">
                                <label>Telefoonnummer</label>
                                <input type="text" name="phone" formControlName="phone"
                                    placeholder="Voer uw telefoonnummer in">
                            </div>
                            <div class="col-md-6 password">
                                <label>Wachtwoord <i class="fa fa-info-circle" title="
                                    A password should be alphanumeric.
First letter of the password should be capital.
Password must contain a special character (@, $, !, &, etc).
Password length must be greater than 8 characters."></i></label>
                                <input type="password" name="password" formControlName="password"
                                    placeholder="Voer uw wachtwoord in">
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                        formControlName="newsletter">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Ja, ik wil me ook inschrijven voor de nieuwsbrief
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" name="button">Registreer</button>
                            </div>
                            <div class="login-btm text-center">
                                <p>Bent u al een klant? <a class="text-primary" routerLink="/login">Inloggen</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>